<br />
<br />

<img src="~/imagens/adminarea.jpg" alt="Area de Administração" />
<div class="container">
    <div class="jumbotron">
        <p>
            Esta é a área Administrativa
        </p>
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home page</a>

</div>