
@model LancheListViewModel


<div>
    <h2>@Model.CategoriaAtual</h2>
</div>


@*@model  => é apenas a diretiva  que aponta para o tipo lanche.
Model  => é a propriedade que acessa o tipo
         Representa a lista de lanche.
    *@
@foreach (var lanche in Model.Lanches)
{
    //renderizando a partialview
    //@Html.PartialAsync("_LanchesResumo", lanche);   modelo antigo

    //modelo novo 
    <partial name="_LanchesResumo"  for="@lanche"/>

}